<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Video</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            background-color: #f0f0f0;
            overflow-y: hidden;
            overflow-x: hidden;
        }

        .video-container {
            width: 100%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        video {
            width: 100%;
            height: auto;
        }
    </style>
    <script>
        if (!!window.EventSource) {
            var source = new EventSource('/video_processing_status');
            source.addEventListener('message', function (e) {
                if (e.data === 'video_processed') {
                    location.reload();
                }
            }, false);
        }
    </script>
</head>

<body>
    <div class="video-container">
        <video autoplay loop muted>
            <source src="{{ video_url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</body>

</html>
